*, *::before, *::after {box-sizing: border-box;}

body {
    padding: 10px;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_title h1 {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: bold;
  font-size: 78px;
  text-align: center;
  letter-spacing: 8px;
} 

.parallax {
  background-image: url('../img/Crypto_Header_Web1.jpg');
  height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav ul, nav li, a {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#nav {
  background-color: black;
  margin-bottom: 15px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
nav {
  margin: 15px 0px;
  padding: 10px 0px;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  padding: 10px;
  cursor: pointer;
  font-size: 21px;
  text-transform: uppercase;
  color: white;
  border: 3px solid black;
  margin-right: 20px;
}
nav li:hover {
  border: 3px solid rgb(230, 188, 5);
  color: rgb(230, 188, 5);

}

.singleCard {
    margin: 10px 0px;
}

.card {
    position: relative;
    border: 2px solid black;
}
.card-body {
  width: 80%;
}
.btn {
  border: 1px solid black;
}

.toggle-button {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 10px;
    width: 80px;
    height: 40px;
    margin: 0;
    background: transparent;
    border: 1px solid #8d8f96;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 2s;
   }

   .toggle-button::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;
    width: 35px;
    height: 35px;
    background-color: rgba(88, 88, 92, 0.473);
    border-radius: 50%;
  
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  .toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: black;  
  }
  .toggle-button:checked {
    background-color: rgb(230, 188, 5);
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 10; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%; 
    height: 85%; 
    padding: 20px;
    overflow: auto; 
    background-color: rgb(247, 240, 240);
    border: 3px solid black;
    border-top: 50px solid black;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 90%;
  }

  .modal-list-item {
    display: block;
    border: 2px solid black;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    cursor: pointer;
  }
  .modal-list-item:hover {
    background-color: rgba(255, 0, 51, 0.075);
  }
  .toRemove {
    text-decoration: line-through;
    background-color: rgba(255, 0, 51, 0.274);
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
  }
  .modal-buttons button {
    margin: 20px;
    width: 100px;
    height: 60px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
  }

  .modal-buttons button:hover{
    background-color: black;
    color: white;
  }


  .aboutContent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .aboutTitle {
    text-align: center;
    
  }

  .aboutContent img {
    width: 50%;
    margin: 15px;
    align-self: center;
  }

  .aboutInfo {
    width: 80%;
    align-self: flex-start;
  }

  .collapseMoreInfo {
    display: none;
    margin: 10px 0px;
  }
  .collapseMoreInfo img {
    margin: 10px 0px;
  }